// Utilities
@import "utilities/variables"; // brand colors are in here
@import "utilities/mixins";

// Base
@import "base/lazyload";
@import "base/typography";
@import "base/global";

// Elements
@import "elements/icons";
@import "elements/buttons";
@import "elements/images";
@import "elements/media-item";
@import "elements/logo";

// Components
@import "components/forms";
@import "components/navigation/navigation";
@import "components/navigation/breadcrumbs";
@import "components/masthead";
@import "components/cards";
@import "components/banners";
@import "components/blockquote";
@import "components/modals";

// Modules
@import "modules/site-header";
@import "modules/footer";
//@import "modules/features";

// Templates
@import "templates/page-content";
// @import "templates/dashboard";

// Modifiers
@import "utilities/modifiers/mod-margin";
@import "utilities/modifiers/mod-padding";
@import "utilities/modifiers/mod-text";
@import "utilities/modifiers/mod-layout";
@import "utilities/modifiers/mod-backgrounds";
@import "utilities/modifiers/mod-flexbox";

// Theme
@import "theme/ca-theme-colors";