
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="images/concordus-logo-white-h.svg" alt="Concordus Applications" /></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu"
            aria-expanded="false" aria-label="Toggle navigation"><svg class="icon"><use xlink:href="#icon-menu" /></svg><!--<span>Menu</span>-->
        </button>

          <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav ml-a">
              <li class="nav-item">
                <a class="nav-link" href="about.html">About<!--<span class="sr-only">(current)</span>--></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services.html" id="services-dropdown" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="services-dropdown">
                  <a class="dropdown-item" href="subscription-services.html">Subscription Services</a>
                  <a class="dropdown-item" href="integration.html">Integration</a>
                  <a class="dropdown-item" href="iaas.html">Integration as a Service</a>
                  <a class="dropdown-item" href="business-in-a-box.html">Business In a Box</a>
                  <a class="dropdown-item" href="enterprise-mobile-crm.html">Enterprise Mobile CRM</a>
                  <a class="dropdown-item" href="security-as-a-service.html">Security as a Service</a>
                  <a class="dropdown-item" href="offerings.html">Offerings</a>
                  <a class="dropdown-item" href="product-technologies.html">Product Technologies</a>
                </div>
              </li>              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="analytics.html" id="analytics-dropdown" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Analytics</a>
                <div class="dropdown-menu" aria-labelledby="analytics-dropdown">
                  <a class="dropdown-item" href="analytics.html">Overview</a>
                  <a class="dropdown-item" href="360-degree-view.html">360-Degree view of the Customer</a>
                  <a class="dropdown-item" href="data-analysis.html">Big Data Analysis</a>
                  <a class="dropdown-item" href="real-time-analytics.html">Real-Time Analytics</a>
                  <a class="dropdown-item" href="sentiment-analysis.html">Sentiment Analysis</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="advanced-testing.html">Testing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="concordus-customers.html">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="demo.html" data-toggle="modal" data-target="#demo-modal">Demo</a>
              </li>
            </ul>
          </div>
        </div>
