// background styles

@mixin bg-trans {
  background: transparent;
}

@mixin bg-pos-center {
  background-position: center;
}

@mixin bg-repeat-no {
  background-repeat: no-repeat;
}

@mixin bg-size-cover {
  background-size: cover;
}

@mixin bg-cover {
  @include bg-pos-center;
  @include bg-repeat-no;
  @include bg-size-cover;
}

@mixin bg-full {
  @include bg-cover;
  @include flex;
  @include ai-center;
  @include as-stretch;
  @include flex-grow-1;
  @include h-50vh;
}

@mixin bg-hero {
  
  @include bg-cover;
  @include bg-full;
  @include font-scale;
  @include h-100vh;

  .h1, h1 {
    @include text-xl;
    @include mb-sm;
  }

  p {
    @include mw-40em;
    @include mr-ml-a;
    @include mb-2;
    @include text-md;
  }

  .btn {
    @include text-sm;
  }

  .icon {
    @include text-base;
  }

  @media (max-height: $break-md-phone) {
    @include h-auto;
    @include pt-pb-5;
  }

}