// CSS Grid Layout

@mixin grid {
  @include flex;
  @include flex-wrap;
  > * {
    @include flex-grow-1;
    @include p-1;
    flex-basis: 15em;
  }

  @supports (grid-gap: 0) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5em, 1fr));
    grid-gap: 1em;
    > * {
      @include p-0;
    }
  }

}

@mixin grid-2-col {
  @include grid;
  @supports (grid-gap: 0) {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    grid-gap: 4em;
  }
}

@mixin grid-4-col {
  @include grid;
  @supports (grid-gap: 0) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 2em;
  }
}

.grid {
  @include grid;
}

.grid-2-col {
  @include grid-2-col;
}

.grid-4-col {
  @include grid-4-col;
}