// CSS Grid Layout

@mixin grid {
  @include flex;
  @include flex-wrap;
  @include pb-2;
  //@include mw-100p;
  > * {
    @include flex-grow-1;
    @include p-1;
    flex-basis: 15em;
  }

  @supports (grid-gap: 0) {
    display: grid;
    grid-gap: 2em;
    @media (min-width: $break-640) {
      grid-template-columns: repeat(auto-fit, minmax(10.5em, 1fr));  
    }
    > * {
      @include p-0;
    }
  }

}

@mixin grid-2-col {
  @include grid;
  @supports (grid-gap: 0) {
    @media (min-width: $break-640) {
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
      grid-gap: 3em;
    }
  }
}

@mixin grid-4-col {
  @include grid;
  @supports (grid-gap: 0) {
    grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
    grid-gap: 2em;
    // 2 cols @ 900 ~ 1360
    @media (min-width: 60em) and (max-width: 85em) {
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    }
  }
}

.grid {
  @include grid;
}

.grid-2-col {
  @include grid-2-col;
}

.grid-4-col {
  @include grid-4-col;
}