.c-warning {
  color: #FF0000; }

.c-red {
  color: #C93816; }

.c-rust {
  color: #d14c1f; }

.c-blue {
  color: #1C5BEA; }

.c-green {
  color: #2EA051; }

.c-teal {
  color: #39909A; }

.c-orange {
  color: #EF9E4C; }

.c-purple {
  color: #9543D1; }

.fonts-loaded h1, .fonts-loaded .h1, .fonts-loaded
h2, .fonts-loaded .h2, .fonts-loaded
h3, .fonts-loaded .h3, .fonts-loaded
h4, .fonts-loaded .h4, .fonts-loaded
h5, .fonts-loaded .h5, .fonts-loaded
h6, .fonts-loaded .h6 {
  font-family: "Montserrat Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300; }

.feature-list li:nth-child(1n) a {
  color: #2EA051; }

.feature-list li:nth-child(2n) a {
  color: #1C5BEA; }

.feature-list li:nth-child(3n) a {
  color: #EF9E4C; }

.feature-list li:nth-child(4n) a {
  color: #9543D1; }

.feature-list li:nth-child(5n) a {
  color: #39909A; }

.feature-list li:nth-child(6n) a {
  color: #d14c1f; }

.navbar-toggler .icon {
  top: 0; }

.navbar-brand {
  padding-bottom: .625em; }

.bg-hero-bus {
  background-image: url(../images/bg/bg-bus-dark-01.jpg);
  background-image: -webkit-image-set(url(../images/bg/bg-bus-dark-01.jpg) 1x, url(../images/bg/bg-bus-dark-01.jpg) 2x);
  background-image: -moz-image-set(url(../images/bg/bg-bus-dark-01.jpg) 1x, url(../images/bg/bg-bus-dark-01.jpg) 2x);
  background-image: -o-image-set(url(../images/bg/bg-bus-dark-01.jpg) 1x, url(../images/bg/bg-bus-dark-01.jpg) 2x);
  background-image: -ms-image-set(url(../images/bg/bg-bus-dark-01.jpg) 1x, url(../images/bg/bg-bus-dark-01.jpg) 2x); }
  .bg-hero-bus p {
    max-width: 30em; }

.bg-bus-yelllow {
  background-image: url(../images/bg/bg-bus-yellow-01.jpg); }
  @media (min-width: 40em) {
    .bg-bus-yelllow {
      margin-top: -7em; }
      .bg-bus-yelllow .card-row .card-block {
        padding-top: 16%; } }

.bg-bus-blue {
  background-image: url(../images/bg/bg-bus-blue-01.jpg); }
  @media (min-width: 40em) {
    .bg-bus-blue {
      margin-top: -7em; }
      .bg-bus-blue .card-row .card-block {
        padding-top: 16%; } }

.theme-yellow {
  background-color: #FFD400;
  color: #4D4C45; }
  .theme-yellow a, .theme-yellow .btn {
    color: currentColor; }

.theme-purple-rich {
  background-color: #9543D1;
  color: #F9F9F9; }
  .theme-purple-rich a, .theme-purple-rich .btn {
    color: currentColor; }

.dash-sample {
  padding-bottom: 57%; }
  .dash-sample img {
    top: auto;
    bottom: 0; }
  @media (min-width: 20em) {
    .dash-sample img {
      height: 95%;
      width: 95%;
      left: auto;
      right: 0;
      padding-left: 4em; } }
  .dash-sample figcaption {
    background-color: #1C5BEA;
    display: none;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.35));
    font-size: 1.5em;
    position: absolute;
    bottom: 20%;
    left: 3%; }
  @media (min-width: 40em) {
    .dash-sample {
      padding-right: 4em;
      padding-left: 4em; }
      .dash-sample img {
        padding-left: 0;
        right: auto;
        left: 2.5%; } }
