<!-- async font loading -->
<script>
  var html = document.documentElement;

  if (sessionStorage.fontsLoaded) {
    html.classList.add("fonts-loaded");
  } else {
    var script = document.createElement("script");
    script.src = "{{ .Site.BaseURL }}js/libs/fontfaceobserver.js";
    script.async = true;

    script.onload = function () {
      var MontserratLight = new FontFaceObserver("Montserrat Light");
      var Montserrat = new FontFaceObserver("Montserrat");
      var MontserratBold = new FontFaceObserver("Montserrat Bold", {});

      Promise.all([
        MontserratLight.load(),
        Montserrat.load(),
        MontserratBold.load()
      ]).then(function () {
        html.classList.add("fonts-loaded");
        sessionStorage.fontsLoaded = true;
      });
    };
    document.head.appendChild(script);
  }

</script>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/libs/jquery-slim.min.js"><\/script>')</script>
<!-- Tether (tooltips) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- Bootstrap core -->
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="{{ .Site.BaseURL }}js/libs/ie10-viewport-bug-workaround.js"></script> -->
<!-- Custom scripts -->
<script src="{{ .Site.BaseURL }}js/script.min.js"></script>

<!-- async icon sprite -->
<script>
  var ajax = new XMLHttpRequest();
  ajax.open("GET", "{{ .Site.BaseURL }}images/ui/ui-icons.svg", true);
  ajax.send();
  ajax.onload = function (e) {
    var div = document.createElement("div");
    div.innerHTML = ajax.responseText;
    document.body.insertBefore(div, document.body.childNodes[0]);
  }
</script>