<!-- toggle button -->
<button class="navbar-toggler navbar-toggler-right toggle-button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu"
  aria-expanded="false" aria-label="Toggle navigation">
  <noscript>
    <a href="#main-menu" class="navbar-toggler navbar-toggler-right toggle-button no-script"></a>
  </noscript>
  <div class="nav-icon c-white">
    <span>
      <svg class="icon icon-menu">
        <use xlink:href="#icon-menu" />
      </svg>
    </span>
  </div>
</button>