// Lazy Load Styles

.lazyload {
  opacity: 1;  
}

img.lazyload {
 display: none;    
}

figure.lazyload {
  & > a:first-child {
    //display: none;  
  }
}


.enhanced {
  .lazyload {
  	opacity: 0;
  }
   figure.lazyload a:first-child,
   img.lazyload {
    display: block; 
    .media-caption {
      //display: block;
    } 
  }
  
  .lazyloaded {
  	opacity: 1;
  	transition: opacity .3s;
  }
}