<!-- footer contact -->
<section class="footer-contact flex flex-wrap ai-center jc-between">
  <div class="contact-info">
    <h4 class="text-md">Contact Us</h4>
    <div class="contact-nav text-sm">
      <a href="tel:8005557654">800.555.7654</a>
      <a href="mailto:contact@maxcentive.com">contact@concordusapps.com</a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="soc-media-icons flex text-lg">
      <a href="#0"><svg class="icon"><use xlink:href="#icon-facebook-circle" /></svg></a>
      <a href="#0"><svg class="icon"><use xlink:href="#icon-twitter-circle" /></svg></a>
      <a href="#0"><svg class="icon"><use xlink:href="#icon-linkedin-circle" /></svg></a>
    </div>
    <p class="mb-0 text-sm">&copy; 2017 Concordus Applications. All rights reserved.</p>
  </div>
</section>