<div class="navbar navbar-inverse navbar-toggleable-md main-menu" role="navigation">
  <div class="container">
    {{ partial "site-title.html" . }}
    {{ partial "main-menu-toggle.html" . }}
    <nav class="collapse navbar-collapse" id="main-menu" role="navigation">
      <ul class="navbar-nav ml-a">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
        <li class="nav-item dropdown{{if $currentPage.IsMenuCurrent "main" . }} active{{end}}">          
          <a id="{{ .Name }}-dropdown" class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Pre }}
            {{ .Name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="{{ .Name }}-dropdown">
              {{ range .Children }}
              <a class="dropdown-item{{if $currentPage.IsMenuCurrent "main" . }} active{{end}}" href="{{.URL}}"> {{ .Name }} </a>
          </div>
          </li>
          {{ end }}
          </ul>
          {{else}}
          <li class="nav-item{{if $currentPage.IsMenuCurrent "main" . }} active{{end}}">
            <a class="nav-link" href="{{.URL}}">
              {{ .Pre }}
              {{ .Name }} {{if $currentPage.IsMenuCurrent "main" . }}
              <span class="sr-only">current page</span>{{end}}
            </a>
            {{end}}
          </li>
          {{end}}
      </ul>
      </nav>
  </div>
</div>