<!-- footer nav -->
<section class="footer-nav">
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="company-information">
    <h3 id="company-information" class="nav-title"><a href="about.html">Company</a></h3>
    <ul>
      <li><a href="about.html">About Us</a></li>
      <li><a href="#0">Our Partners</a></li>
      <li><a href="contact.html">Contact Us</a></li>
      <li><a href="#0">Concordus News</a></li>
    </ul>
  </nav>
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="company-products">
    <h3 id="company-products" class="nav-title"><a href="#0">Products</a></h3>
    <ul>
      <li><a href="products/wmsb/">Watch My School Bus</a></li>
      <li><a href="#0">Chatmate</a></li>
      <li><a href="#0">iPaaS</a></li>
      <li><a href="#0">AWS Cloud</a></li>
    </ul>
  </nav>
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="company-services">
    <h3 id="company-services" class="nav-title"><a href="services.html">Services</a></h3>
    <ul>
      <li><a href="subscription-services.html">Subscription Services</a></li>
      <li><a href="iaas.html">Integration as a Service</a></li>
      <li><a href="enterprise-mobile-crm.html">Enterprise Mobile CRM</a></li>
      <!--<li><a href="offerings.html">Offerings</a></li>-->
      <li><a href="product-technologies.html">Product Technologies</a></li>
      <li><a href="advanced-testing.html">Advanced Testing</a></li>             
    </ul>
  </nav>      
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="company-analytics">
    <h3 id="company-analytics" class="nav-title"><a href="analytics.html">Analytics</a></h3>
    <ul>
      <li><a href="360-degree-view.html">360-Degree view</a></li>
      <li><a href="data-analysis.html">Big Data Analysis</a></li>
      <li><a href="real-time-analytics.html">Real-Time Analytics</a></li>
      <li><a href="sentiment-analysis.html">Sentiment Analysis</a></li>
    </ul>
  </nav>
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="company-testing" hidden>
    <h3 id="company-testing" class="nav-title"><a href="advanced-testing.html">Testing</a></h3>
    <ul>
      <li><a href="#0">Digital Testing</a></li>
      <li><a href="#0">Regression Testing</a></li>
      <li><a href="#0">Mobile Application Testing</a></li>
      <li><a href="#0">Enterprise Testing</a></li>
    </ul>
  </nav>
  <!-- nav list -->
  <nav class="nav-list" aria-labelledby="product-support">
    <h3 id="product-support" class="nav-title">Support</h3>
    <ul>
      <li><a href="#0">Help Center</a></li>
      <li><a href="#0">Schedule Demo</a></li>
      <li><a href="#0">Training Resources</a></li>
      <li><a href="#0">Terms &amp; Conditions</a></li>
    </ul>
  </nav>
</section>