
// testimonial carousel

.carousel-testimonial {
  position: relative;
  text-shadow: .125rem .125rem 0 rgba(black, .2);
  transition: height .4s ease;
  .section-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .carousel-inner {
   
  }
  .carousel-item {
    @include h-100;
    > * {      
      opacity: 0;
      transform: translateY(20%);
      transition: opacity .4s ease,
                  transform .6s ease;
    }
    &.active {
      > * {
        opacity: 1;
        transform: none;
      }
    }  
  }

  .carousel-indicators {
    bottom: -3rem;
    li {
      background-color: #777;
      box-shadow: 0 0 0 .25rem #FFF;
      border-radius: 50%;
      filter: grayscale(60%)  drop-shadow(0 .1rem .2rem rgba(0,0,0, .2));
      @include h-100;
      max-height: 4rem;
      max-width: 4rem;
      @include mr-1;
      @include mb-0;
      @include ml-1;      
      text-indent: initial;      
      transition: .35s ease;
      will-change: max-height max-width;
      .avatar {
        margin-top: 0;
        @include mr-0;
        @include mb-0;
        height: 100%;
        width: 100%;
        line-height: 0;
        opacity: .75;
        transition: .4s ease;
      }
      &.active,
      &:hover {
        background-color: #FFF;
        filter: drop-shadow(0 .4rem .2rem rgba(0,0,0, .3));
        .avatar {
          opacity: 1;
        }
      }
      &.active {
        max-height: 5rem;
        max-width: 5rem;
      }
      > a:hover,
      > a:focus {
        .avatar {
          //filter: grayscale(0%) blur(0em);
        }
      }
    }
  }

  p {
    &:last-of-type {
      //@include mb-1;
    }
  }
  .card-block {
   @include w-100;
  }
  .card-text {
    @include mw-40em;
    @include pl-tiny;
  }
  .card-title {
    @include text-lg;
  }
  .quotee {
    @include flex;
    @include ai-center;
    @include text-md;
    //@include italic;
    @include pt-1;
    .text-wrap {
      line-height: 2rem;
    }
    @media (max-width: $break-540) {      
      @include flex-d-col;
      @include jc-center;
      @include text-center;
    }
    .title {
      @include block;
      @include italic;
      font-size: .875rem;
      letter-spacing: .03rem;
      //@include all-caps;
    }
  }
  .avatar {
    @include mb-sm;
    @media (min-width: $break-540) {
      @include float-l;
      @include mr-1;
      @include mb-0;     
    }
  }
}