// Main Menu

.navbar {
  text-align: left;
}

.main-menu {
  @include m-0;
  @include pt-pb-1;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.navbar-collapse {
  background-color: rgba($max-black, .95);
  margin-top: 1rem;
  @include p-0;
  position: relative;
  transition: .4s ease;
  &.show {

  }
  &:target {
    display: block;
  }
  
  @media (min-width: $break-992) {
    background-color: transparent;
    @include jc-between;
    @include mt-0;
    @include p-0;
    @include w-100;
  }
}

.navbar-nav {
  
  @media (max-width: $break-992) {
    .nav-link {
      padding-top: $calc-25;
      padding-right: calc(1vw + 1em);
      padding-bottom: $calc-25;    
      padding-left: calc(1vw + 1em);
    }
  }
  @media (min-width: $break-992) {
    @include ai-center;
    @include jc-between;
    .nav-link {
      font-size: .983em;
    }
  }
}

.navbar-toggler {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  height: 100%;
  top: 0;
  right: 5px;
  padding: 0;
  &:focus {
    outline: none;
  }
  .navbar-inverse & {
    border: none;
    .icon {
      //fill: #ddd;
    }
  }
  .icon {
    height: 1.75em;
    width: 1.75em;
    margin-right: 0;
    margin-left: 0;
    top: -5px;
  }
  &[aria-expanded=true] {
    background-color: #EEE;
  }
  &.no-script {
    z-index: 1;
  }
}

// Custom Toggle Button

$box-size: 40px;

.toggle-button {
  border-radius: 50%;
  cursor: pointer;  
  padding: 0;
  height: 100%;
  width: 100%;
  max-height: 1.5em;
  max-width: 1.5em;
  //width: 56px;
  
  .nav-icon,
  .nav-icon:before,
  .nav-icon:after {
    transition: .3s ease-in-out;
  }

  .nav-icon {
    background: currentColor;
    background: transparent;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    span {
      text-transform: uppercase;
      transition: opacity .3s ease;  
    }
    
    &:before,
    &:after {
      opacity: 0;  
      content: '';
      background: currentColor;
      border-radius: 5px;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;  
    }

    &:before {
      top: -$box-size/5;
    }

    &:after {
      top: $box-size/5;
    }

    &:hover,
    &:focus {
      will-change: transform scale;
    }
    
  }
  
  &[aria-expanded=true] {
    background: #333;
    .nav-icon {
      background-color: transparent;
      transform: scale(.7);
      height: 4px;
      width: 65%;
      position: absolute;
      span, .icon {
        opacity: 0;  
      }
      &:before,
      &:after {
        opacity: 1;
      }
      //transform: rotate(-180deg);
      &:before {
        background: #FFF;
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        background: #FFF;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
  
  &:hover,
  &:focus {
    box-shadow: none;
  }
        
}

.navbar-brand {
  @include flex;
  @include ai-center;
  flex-shrink: 0;
  height: 100%;
  max-height: 4em;
  max-width: 9em;
  @include w-100;
  svg {
    @include flex-grow-1;
    height: 100%;
    @include w-100;
  }
  @media (min-width: $break-992) {
    @include p-0;
  }
}

.nav-list {
  font-size: .875em;
  ul > li {
    margin-bottom: 1rem;
  }
  // < 450
  @media (max-width: 28.125em) {
    width: 100%;
  }
}

.navbar-inverse .navbar-nav .nav-link {
  color: #DDD;
  text-shadow: 0 0 .25rem rgba(black, .5);
}

.nav-item {
  @include mb-0;
  @media (min-width: $break-992) {
    @include ml-tiny;
    @include mb-0;
  }
  @media (min-width: $break-1200) {
    @include ml-1;
  }
}

.dropdown-menu {
  border-radius: 0;
  @include text-sm;
  @media (max-width: $break-992) {
    top: 0;
  }
}

.dropdown-item {
  white-space: initial;
}

@media (min-width: $break-992) {
  .navbar-toggleable-md {
    @include pt-1;
    > .container {
      @include flex;
      flex-wrap: nowrap;
      @include ai-center;
      @include jc-between;
      @include pr-pl-0;
    }
  }

}

.navbar-nav {
  &.admin-nav {
    @include flex-d-row;
    padding-top: $calc-25;
    padding-right: $calc-1;
    padding-bottom: $calc-75;    
    padding-left: $calc-1;
    & > li {
      flex-basis: 7em;
      @include mr-1;
    }
    .btn-group {
      flex-basis: auto;
      @include text-lg;
      > .btn {
        border: none;
        padding-right: .125rem;
        padding-left: .125rem;
        a:hover,
        a:focus {
          color: currentColor;
          opacity: .8;
        }
      }
      .dropdown-menu {
        font-size: .875rem;
        position: absolute;
        top: 4em; 
        @media (min-width: $break-640) {              
          right: .5rem;
          left: auto;
          min-width: 12em;
        }
      }
    }

    .nav-link {
      @include pt-pb-sm;
      @include pr-pl-1;
      @include all-caps;
      border-radius: .35em;
      font-size: .75rem;
      letter-spacing: .05rem;
      @include text-center;
      //text-shadow: none;
      @include w-100;
      &.login-link {
        //background-color: $max-blue-dark;
      }
      &.signup-link {
        //background-color: $max-blue;
        width: 100%;
      }
    }
    .user-menu-toggle {
      display: none;
    }
    &.logged-in {
      .nav-item-login,
      .nav-item-signup {
        display: none;
      }
      .user-menu-toggle {
        display: block;
        @include mr-sm;
      }
    }
    @media (min-width: $break-640) and (max-width: $break-992 - .01em) {
      .btn-group {
        position: absolute;
        top: 1rem;
        right: 1rem;
        @include ml-1;
      }
    }
    @media (min-width: $break-992) {
      //@include flex;
      //@include flex-d-row-rev;
      //@include jc-end;
      @include relative;
      @include ml-0;
      @include p-0;
      & > li {
        @include flex-grow-0;
        @include mr-0;
        @include ml-sm;      
      }
      .btn-group {
        @include flex;
        @include ai-center;
        @include ml-1;
        @include text-md;      
      }
    }
  }
}



