// Brand Colors

$wmsb-yellow: #FFD400;

$wmsb-red: #FF0000;

$wmsb-dark-red: #C93816;

$wmsb-blue: #1C5BEA;

$wmsb-green: #2EA051;

$wmsb-orange: #EF9E4C;

$wmsb-purple: #9543D1;


.c-warning {
  color: $wmsb-red;
 }
 
 .c-blue {
   color: $wmsb-blue;
 }
 
 .c-green {
   color: $wmsb-green;
 }
 
 .c-orange {
   color: $wmsb-orange;
 }
 
 .c-purple {
   color: $wmsb-purple;
 }