.dash-sample {
  padding-bottom: 53%;
  img {
    top: auto;
    bottom: 0;
  }
  @media (min-width: 20em) {
    img {
      height: 95%;
      width: 95%;
      left: auto;
      right: 0;
      padding-left: 4em;
    }
  }

  figcaption {
    background-color: $wmsb-blue;
    display: none;
    filter: drop-shadow(0 0 .5rem rgba(black,.35));
    font-size: 1.5em;
    position: absolute;
    bottom: 20%;
    left: 3%;
  }

  @media  (min-width: 40em) {
    padding-right: 4em;
    padding-left: 4em;
    img {
      padding-left: 0;
      right: auto;
      left: 2.5%;
    }
  }
}