<nav class="navbar navbar-inverse navbar-toggleable-md main-menu" role="navigation">
  <div class="container">
    {{ partial "2_components/navbar-brand.html" . }}
    {{ partial "1_elements/main-menu-toggle.html" . }}
    <div class="collapse navbar-collapse" id="main-menu" role="navigation">
      <ul class="navbar-nav ml-a">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li{{if $currentPage.IsMenuCurrent "main" . }} class="nav-item dropdown active" {{ else }} class="nav-item dropdown" {{end}}>
          <a id="{{ .Name }}-dropdown" class="nav-link dropdown-toggle" href="#0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Pre }}
            {{ .Name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="{{ .Name }}-dropdown">
            {{ range .Children }}
            <a class="dropdown-item{{if $currentPage.IsMenuCurrent "main" . }} active{{end}}" href="{{ .URL | relLangURL }}">
              {{ .Pre }}
              {{ .Name }}
            </a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li{{if $currentPage.IsMenuCurrent "main" . }} class="nav-item active" {{ else }} class="nav-item" {{end}}>
          <a class="nav-link" href="{{ .URL | relLangURL }}">
            {{ .Pre }} 
            {{ .Name }} 
            {{if $currentPage.IsMenuCurrent "main" . }}
              <span class="sr-only">current page</span>
            {{ end }}
          </a>        
        </li>
        {{ end }}
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" href="#demo-modal" data-toggle="modal" data-target="#demo-modal" title="open video demo">Demo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>