// bg color

.bg-black {
  background-color: $max-black;
}

.bg-white {
  background-color: $max-white;
}

.bg-charcoal {
  background-color: $max-charcoal;
}

.bg-grey-CCC {
  background-color: $max-grey-CCC;
}

.bg-grey-EEE {
  background-color: $max-grey-EEE;
}

.bg-warning {
  background-color: $max-red;
}

// gradients

.gradient-blue-green {
  @include gradient-blue-green;
}

.gradient-blue-green-45 {
  @include gradient-blue-green-45;
}

.gradient-blue-green-270 {
  @include gradient-blue-green-270;
}

.gradient-blue-purple {
  @include gradient-blue-purple;
}

.gradient-blue-purple-45 {
  @include gradient-blue-purple-45;
}

.gradient-blue-purple-270 {
  @include gradient-blue-purple-270;
}

.gradient-purple-blue {
  @include gradient-purple-blue;
}

.gradient-purple-blue-45 {
  @include gradient-purple-blue-45;
}

.gradient-purple-blue-270 {
  @include gradient-purple-blue-270;
}

.gradient-orange {
  @include gradient-orange;
}

.gradient-orange-45 {
  @include gradient-orange-45;
}

.gradient-orange-270 {
  @include gradient-orange-270;
}

.gradient-orange-purple {
  @include gradient-orange-purple;
}

.gradient-orange-purple-45 {
  @include gradient-orange-purple-45;
}

.gradient-orange-purple-270 {
  @include gradient-orange-purple-270;
}


// color

.c-black {
  color: $max-black;
}

.c-white {
  color: $max-white;
}

.c-charcoal {
  color: $max-charcoal;
}

.c-grey-CCC {
  color: $max-grey-CCC;
}

.c-grey-EEE {
  color: $max-grey-EEE;
}

.c-grey-555 {
  color: $max-grey-555;
}

.c-grey-999 {
  color: $max-grey-999;
}

.c-warning {
 color: $max-red;
}

.c-blue {
  color: $max-blue;
}

.c-green {
  color: $max-green;
}

.c-orange {
  color: $max-orange;
}

.c-purple {
  color: $max-purple;
}

.theme-dark {
  @include theme-dark;
}

.theme-light {
  @include theme-light;
}

.theme-black {
  @include theme-black;
}

.theme-blue {
  @include theme-blue;
}

.theme-blue-rich {
  @include theme-blue-rich;
}

.theme-blue-dark {
  @include theme-blue-dark;
}

.theme-green {
  @include theme-green;
}

.theme-purple {
  @include theme-purple;
}

.theme-orange {
  @include theme-orange;
}

.theme-rust {
  @include theme-rust;
}

.theme-teal {
  @include theme-teal;
}