// bg color

.bg-black {
  background-color: $max-black;
}

.bg-white {
  background-color: $max-white;
}

.bg-charcoal {
  background-color: $max-charcoal;
}

.bg-grey-CCC {
  background-color: $max-grey-CCC;
}

.bg-grey-EEE {
  background-color: $max-grey-EEE;
}

.bg-warning {
  background-color: $max-red;
}

// gradients

.gradient-blue-green {
  @include gradient-blue-green;
}

.gradient-blue-green-45 {
  @include gradient-blue-green-45;
}

.gradient-blue-green-270 {
  @include gradient-blue-green-270;
}


// color

.c-black {
  color: $max-black;
}

.c-white {
  color: $max-white;
}

.c-charcoal {
  color: $max-charcoal;
}

.c-grey-CCC {
  color: $max-grey-CCC;
}

.c-grey-EEE {
  color: $max-grey-EEE;
}

.c-warning {
 color: $max-red;
}

.theme-dark {
  @include theme-dark;
}

.theme-light {
  @include theme-light;
}

.theme-black {
  @include theme-black;
}

.theme-blue {
  @include theme-blue;
}

.theme-blue-dark {
  @include theme-blue-dark;
}

.theme-green {
  @include theme-green;
}

.theme-purple {
  @include theme-purple;
}

.theme-orange {
  @include theme-orange;
}