// MaxCentive Colors

// image filters

@mixin filter-luminosity {
  @supports (background-blend-mode: luminosity) {
    background-blend-mode: luminosity;
  }
}

@mixin filter-soft-light {
  @supports (background-blend-mode: soft-light) {
    background-blend-mode: soft-light;
  }
}

// Base
$max-black: #111;
$max-charcoal: #222;
$max-grey: #333;
$max-grey-555: #555;
$max-grey-CCC: #CCC;
$max-grey-EEE: #EEE;
$max-white: #FAFAFA;

$max-red: #FF2222;

// ** Brand ** //

// blue
$max-blue: #29ABE2;
$max-blue-bright: #159EFC;
$max-blue-light: mix(white, $max-blue, 50%);
$max-blue-dark: mix(black, $max-blue, 25%);

// green
$max-green: #39B54A;
$max-green-light: mix(white, $max-green, 35%);
$max-green-dark: mix(black, $max-green, 25%);

// orange
$max-orange: #F15A24;
$max-orange-light: mix(white, $max-orange, 35%);
$max-orange-dark: mix(black, $max-orange, 25%);

// purple
$max-purple: #93278F;
$max-purple-light: mix(white, $max-purple, 35%);
$max-purple-dark: mix(black, $max-purple, 25%);

// BS colors
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

// defaults

$text-color: $max-grey;
$heading-color: $max-grey;
$bg-color: $max-white;
$link: $max-blue-bright;

// theme colors

[class*="theme-"] {
  a, .btn {
    color: currentColor;
  }
  //@include filter-luminosity;
}

@mixin theme-dark {
  color: $max-white;
}

@mixin theme-light {
  color: $text-color;
}

@mixin theme-black {
  background-color: $max-black;
  color: $max-white;
}

@mixin theme-blue {
  background-color: $max-blue-bright;
  color: $max-white;
}

@mixin theme-blue-dark {
  background-color: $max-blue-dark;
  color: $max-white;
}

@mixin theme-green {
  background-color: $max-green;
  color: $max-white;
}

@mixin theme-purple {
  background-color: $max-purple;
  color: $max-white;
}

@mixin theme-orange {
  background-color: $max-orange;
  color: $max-white;
}

