// MaxCentive Colors

// Base
$max-black: #111;
$max-charcoal: #222;
$max-grey: #333;
$max-grey-CCC: #CCC;
$max-grey-EEE: #EEE;
$max-white: #FCFCFC;

$max-red: #FF2222;

// ** Brand ** //

// blue
$max-blue: #29ABE2;
$max-blue-light: mix(white, $max-blue, 50%);
$max-blue-dark: mix(black, $max-blue, 25%);

// green
$max-green: #39B54A;
$max-green-light: mix(white, $max-green, 35%);
$max-green-dark: mix(black, $max-green, 25%);

// orange
$max-orange: #F15A24;
$max-orange-light: mix(white, $max-orange, 35%);
$max-orange-dark: mix(black, $max-orange, 25%);

// purple
$max-purple: #93278F;
$max-purple-light: mix(white, $max-purple, 35%);
$max-purple-dark: mix(black, $max-purple, 25%);

// BS colors
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

// defaults

$text-color: $max-grey;
$heading-color: $max-grey;
$bg-color: $max-white;
$link: $max-blue;

// theme colors

@mixin theme-black {
  background-color: $max-black;
  color: $max-white;
}

@mixin theme-blue {
  background-color: $max-blue;
  color: $max-white;
}

@mixin theme-blue-dark {
  background-color: $max-blue-dark;
  color: $max-white;
}

@mixin theme-green {
  background-color: $max-green;
  color: $max-white;
}

@mixin theme-purple {
  background-color: $max-purple;
  color: $max-white;
}

@mixin theme-orange {
  background-color: $max-orange;
  color: $max-white;
}

// gradients

// $brand-gradient-blue: linear-gradient(to bottom, $max-blue-light 10%, $max-blue-dark 100%);

// $brand-gradient-teal: linear-gradient(to top, $max-teal-light 10%, $max-teal 100%);

