// card styles

.card {

  &-clean {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  &-row {
    .card-block {
      @include p-4;
    }
    @media (min-width: $break-ml-phone) {
      @include flex-d-row;
      @include ai-center;

      > * {
        @include as-center;
        @include w-35;
      }

      .card-block {
        @include flex;
        @include flex-d-col;
        padding: 10%;
      }

      .card-text + .card-text {
        margin-bottom: 20%;
      }

      .btn {
        @include as-start;
      }

    }
  }

  &-row-rev {
    @media (min-width: $break-ml-phone) {
      @include flex-d-row-rev;
    }
  }

}

