.page-content {

  > .container {
    @include pt-pb-2;
    @include pr-pl-4;
    > .btn {
      margin-top: 1rem;
      @include mb-2;
    }
  }

  @media (min-width: $break-lg-phone) {

    padding-top: 10vh;
    padding-bottom: 10vh;

    > .container {
      @include pt-0;
      @include pb-0;
    }

  }

}