body {
  background-color: #f9f9f9;
}

img {
  @include mw-100p;
}

.site-wrapper {
  @include flex;
  @include flex-d-col;
  @include w-100;
  //height: 100vh;
  //box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.container {
  max-width: 85rem;
  width: 100%;
}

// main

#main {
  @include flex;
  @include flex-d-col;
  @include flex-grow-1;
  > * {
    @include w-100;
    & + *:not(.banner-full) {
      @include pad-block;
    }
  }
}