//**  CLASS Modifiers  **//

.bg-trans {
  @include bg-trans;
}

.bg-cover {
  @include bg-cover;
}

.bg-full {
  @include bg-full;
}

.bg-hero {
  @include bg-hero;
  
  // 
  &-app-user-01 {
    background-image: url(../images/bg/bg-hero-app-user-01.jpg);
  }

  &-user-01 {
    background-image: url(../images/bg/bg-hero-user-man.jpg);
  }

}

.bg-half-globe-left {
  @include bg-cover;
  background-image: url(../images/bg/bg-banner-half-globe-darkgreen.jpg);
}

.bg-analytics {
  @include bg-cover;
  background-image: url(../images/bg/bg-analytics-darkblue.jpg);
}

