.site-footer {
  @include pt-2;
  @include pb-2;
  @include text-center;
  @include theme-black;
  p, nav {
    @include text-sm;
  }
  @supports (grid-gap: 0) {
    grid-row: 4 / 4;
  }
}

.footer-nav {
  padding-top: $calc-3;
  padding-bottom: $calc-3;
  > *:not(:last-child) {
    margin-bottom: 0;
  }
  // 450
  @media (min-width: 28.125em) {
    display: flex;
    flex-wrap: wrap;
    > *:not(:last-child) {
      margin-bottom: 0;
      padding-right: calc(1vw + 5em);
    }
  }
}

.contact-nav {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > :first-child {
    margin-bottom: .5rem;
  }
  @media (min-width: 30em) {
    > :first-child {
      margin-bottom: 0;
      margin-right: .75rem;
    }
  }
}

.footer-copyright {
  border: none;
  .soc-media-icons {
    @media (min-width: 30em) {
      justify-content: flex-end;
    }
  }
}