// Site Header

.site-header {
  background-color: rgba(#000, .85);
  &.headroom--not-top {
    background-color: rgba(black, .85);
  }
}

.headroom {
  //will-change: transform;
  transition: opacity .3s ease;
}
.headroom--pinned {
  //transform: translateY(0%);
  opacity: 1;
}

.headroom--unpinned {
  //transform: translateY(-100%);
  opacity: 0;
}