// Site Header

.site-header {
  background-color: rgba(black, 0);
  //position: relative;
  transition: .4s ease;
  &.headroom--not-top,
  &.headroom--unpinned,
  &.headroom--bottom {
    background-color: rgba(black, .9);
    .navbar-collapse {
      background-color: transparent;
    }
  }
  @media (max-width: 15em) {
    background-color: rgba(black, 1);
    position: relative;
  }
  @supports (grid-gap: 0) {
    grid-row: span 1;
  }
}


  .headroom {
    //will-change: transform;
    position: fixed;
    //transition: .3s ease;
  }
  .headroom--pinned,
  .headroom--bottom.headroom--unpinned {
    //transform: translateY(0%);
    opacity: 1;
  }

  .headroom--unpinned {
    //transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }