
// profile avatar

.avatar {
  @include circle-mask;
  @include mb-0;
  &-sm {    
    height: 3rem;
    width: 3rem;
  }
  &-md {    
    height: 5rem;
    width: 5rem;
  }
  &-lg {    
    height: 7rem;
    width: 7rem;
  }
}

.dash-sample {
  position: relative;
  img {
    filter: drop-shadow(0 0 1.5rem rgba(black,.35));
  }
  figcaption {
    @include Varela;
    @include text-md;
    position: absolute;
    @include p-0;
    top: 3em;
    left: 3em;
  }
}