.media-wrap {
  @include fade-in;
  line-height: 0;
  height: 0; // padding-bottom: 70% !important; // 4:3
  margin: 0;
  position: relative;
  padding-bottom: 56.25%; // 16:9
  width: 100%;
  z-index: 1;
  img,
  iframe {
    display: inline-block;
    opacity: 0;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s ease;
  }
  &.img {
    @include slug-img-bg;
  }
  &.video {
    @include slug-video-bg;
    figcaption {
      position: relative;
      bottom: -2.2em;
      text-align: center;
    }
  }
  &.pen {
    @include slug-code-bg;
  }
}

// Embedded Map
.map-embed {
  display: block;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 80%;
  #map-canvas {
    height: 100%;
    width: 100%;
  }
}

@mixin media-item {
  margin-top: 2rem;
  @include mr-ml-a;
  @include mb-2;

  figcaption {
    @include pt-sm;
    @include pl-sm;
  }

  @media (min-width: $break-640) {
    @include mt-0;

    &.float-l {
      margin: .5rem 1.75rem 2.5rem 0;
    }
    &.float-r {
      margin: .5rem 0 2.5rem 1.75rem;
    }

    &.mask-outside.float-l {
      margin: 2rem 1.75rem 2.5rem 0;
    }

    &.mask-outside.float-r {
      margin: .5rem 0 2.5rem 1.75rem;
    }

  }

  @media (min-width: $break-800) {
    &.float-l {
      margin-right: 2.5rem;
    }
    &.float-r {
      margin-left: 2.5rem;
    }

    &.mask-outside.float-l {
      margin-right: 2.5rem;
    }

    &.mask-outside.float-r {
      margin-left: 2.5rem;
    }
  }

  @media (min-width: $break-900) {
    &.banner-float-l {
      @include float-l;
      @include mr-3;
      @include mb-3;
      @include ml-0;
    }
    &.banner-float-r {
      @include float-r;
      @include mr-0;
      @include mb-2;
      @include ml-3;
    }
    &.banner-float-l,
    &.banner-float-r {
      margin-top: 1rem;
      @include mw-20em;
    }
    
  }

}

.media-item {
  @include media-item;
  &.mobile-crm {
    @media (min-width: $break-800) {
      @include mw-20em;
    }
  }
}
