.media-wrap {
  position: relative;
  line-height: 0;
  height: 0; // padding-bottom: 70% !important; // 4:3
  padding-bottom: 56.25%; // 16:9
  width: 100%;
  > * {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding-top: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  iframe {
    
  }
}

// Embedded Map
.map-embed {
  display: block;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 80%;
  #map-canvas {
    height: 100%;
    width: 100%;
  }
}

@mixin media-item {
  margin: 0 auto 2rem;

  figcaption {
    @include pt-sm;
    @include pl-sm;
  }

  @media (min-width: $break-lg-phone) {

    &.float-l {
      margin: .5rem 2.5rem 2.5rem 0;
    }
    &.float-r {
      margin: .5rem 0 2.5rem 2.5rem;
    }

    &.mask-outside.float-l {
      margin: 2rem 2.5rem 2.5rem 0;
    }

    &.mask-outside.float-r {
      margin: .5rem 0 2.5rem 2.5rem;
    }

  }

}

.media-item {
  @include media-item;
}
